<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="dragon" >

  <xacro:include filename="$(find dragon)/robots/quad/euclid_201709.urdf.xacro" />

  <xacro:property name="offset" value="0.013" />

  <joint name="gripper_joint" type="fixed">
    <parent link="link1"/>
    <child link="gripper"/>
    <origin xyz="${offset} 0 0" rpy="0 0 ${pi}"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="gripper">
    <visual>
      <origin xyz="-${offset} 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://dragon_valve/urdf/mesh/valve_gripper.dae"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="-${offset} 0 0" rpy="0 0 0"/>
      <mass value="${0.0856 - 0.0452}"/> <!-- additional weight compared to stantdard gripper  -->
      <inertia
          ixx="0.00001" ixy="0.0" ixz="0.0"
          iyy="0.00001" iyz="0.0"
          izz="0.00002"/>
    </inertial>
  </link>

</robot>
